
body {
    height: 500px;
    background-image: url(clase\ 22\ fondo.gif);
    background-size: cover;
    background-size: 80rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    }

    h1{
    color:rgb(46, 66, 247);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 450%;
    }

    p{color: rgb(0, 66, 248);
        text-align: center;
    }

div {
    width: 500px;
    height: 500px;
    background-color: rgb(197, 243, 247);
    border-left: 5px dotted rgb(0, 0, 0);
    border-top: 5px dotted rgb(0, 0, 0);
    border-right: 5px dotted rgb(0, 0, 0);
    border-bottom: 5px dotted rgb(0, 0, 0);
    text-align: center;
    }

    

